.container {
  max-width: 1440px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

.headerWrapper {
  padding: 10px 40px;
  background-color: #2e76f6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: none;
}

.navbar {
  display: none;
  visibility: hidden;
}

.contactWrapper {
  display: flex;
  align-items: center;
}

.contactItemWrapper {
  margin-right: 20px;
  display: flex;
  white-space: nowrap;
}

.mailCall {
  padding: 0px 10px;
  float: right;
  display: flex;
  justify-content: right;
}

.iWrapper {
  margin-right: 5px;
  align-content: center;
}

.mr-5 {
  margin-right: 5px;
}

.connectWrapper {
  font-weight: bolder;
  font-weight: 900;
  font-size: 20px;
}

.contactWrapper {
  font-size: 15px;
}

button {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: white;
  height: 50px;
  border-top: 10px solid #f5fdfe;
  border-bottom: 10px solid #f5fdfe;
}

.navLogo {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.navLinksWrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navLinkLi {
  display: inline-block;
  padding: 0px 10px;
  font-weight: 500;
  font-size: 15px;
}

.borderRight {
  border-right: #103fb8 2.5px solid;
}

.navLiLink {
  transition: all 0.3s ease 0s;
  color: black;
  text-decoration: none;
}

.navLiLink:hover {
  text-decoration: underline;
  color: #103fb8;
}

.button {
  padding: 9px 25px;
  background-color: #0245f5;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(0, 0, 218);
}

.heroWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #e2dddf;
}

.heroTextWrapper {
  width: 50%;
  text-align: left;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 50px;
}

.heroTextWrapperH1,
heroTextWrapperP {
  padding-bottom: 30px;
}

.heroImageWrapper {
  width: 50%;
}

#heroImage {
  height: 100%;
  width: 100%;
}

.findPlansBtn {
  padding: 9px 25px;
  background-color: #43b3f8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.heroTextWrapperH1 {
  color: #055af6;
}

.col-2 {
  border: 1px solid #d1dbfb;
  border-radius: 7px;
  padding: 30px 10px;
  text-align: center;
  width: 150px;
  box-shadow: 0px 0px 10px 5px #d1dbfb;
}

.iconCardsWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.col-2-Image {
  padding-top: 10px;
  padding-bottom: 15px;
}

.hero2Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 70px;
}

#hero2Image {
  height: 95%;
  width: 95%;
}

.hero2Image {
  width: 40%;
  padding-left: 90px;
}

.hero2Text {
  width: 40%;
  text-align: left;
  align-content: center;
  padding: 0px 50px;
}

.hero2Button {
  padding-left: 50px;
  padding-right: 50px;
}

.committedLogo {
  display: flex;
  padding-top: 40px;
}

.committedLogoImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.committedLogo b {
  height: 40px;
  margin-right: 40px;
}

.committedToBold,
.carouselBold {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 30px;
  text-align: left;
  padding-bottom: 30px;
}

.committedToBold,
.committedToText,
.hero2Button {
  margin-bottom: 15px;
}

.pickInsuranceWrapper {
  background-color: #e9f5fe;
}

.pickInsuranceWrapper h2 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 40px;
  line-height: 1.2;
}

.row {
  padding: 30px 230px;
}

.col-6 {
  text-align: center;
  color: #8791a6;
}

.pickInsuranceWrapper h4 {
  color: #2082f2;
  padding-top: 40px;
}

.committedToText {
  padding-bottom: 20px;
  color: #8791a6;
}

.hereToHelpWrapper {
  width: 950px;
  margin: auto;
}

.hereToHelpWrapper h2 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 1.2;
}

.hereToHelpCardsRowWrapper {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.hereToHelpImg {
  height: 250px;
  width: 450px;
  object-fit: cover;
  padding-bottom: 30px;
}

.hereToHelpCardWrapper {
  width: 450px;
  margin-bottom: 50px;
  height: 450px;
}

.hereToHelpCardTitleWrapper {
  font-weight: bolder;
  font-weight: 700;
}

.hereToHelpCardTextWrapper {
  height: 170px;
  text-align: left;
  padding-left: 0px;
  line-height: 25px;
}

.hereToHelpCardTextWrapper,
.hereToHelpLinkWrapper {
  padding-left: 30px;
}

.hereToHelpLinkLiWrapper {
  list-style-type: none;
  text-decoration: none;
  width: 150px;
  text-align: left;
  display: inline-flex;
  justify-content: left;
  line-height: 25px;
  color: #0049dc;
  text-decoration: none;
}

.hereToHelpLinkLiWrapper:hover {
  text-decoration: underline;
}

.hereToHelpLinkLiWrapper {
  color: #0049dc;
}

.col img {
  height: 200px;
  width: 400px;
  display: block;
}

.fa-arrow-right {
  padding-left: 5px;
}

.footerSection,
.footerSectionMobile {
  color: #141c73;
  margin-top: 0px;
}

.footerWrapper {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  position: relative;
  top: 50px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #dfe5fb;
}

.footerContentWrapper {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.footerLogo {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.mb-4 {
  line-height: 30px;
}

.list-unstyled li {
  color: #2e325a;
}

.footerLogoTextWrapper {
  text-align: center;
  color: #2e325a;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerLogoTextWrapper p {
  padding-bottom: 0px;
}

.footerSection h5,
.footerSectionMobile h5 {
  padding-bottom: 10px;
  font-weight: 700;
}

.footerLinksWrapper li a {
  transition: all 0.3s ease 0s;
  color: #2e325a;
  text-decoration: none;
}

.footerLinksWrapper li a:hover {
  text-decoration: underline;
  color: #103fb8;
}

.footerLinksWrapper li {
  padding-bottom: 10px;
}

.footerNotLink li {
  padding-bottom: 10px;
}

.footerBlueBox {
  width: 100%;
  height: 100px;
  background-color: #055af6;
}

.socialMediaLogos {
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.carousel {
  display: none;
  margin: auto;
}
.iconCardCarouselWrapper {
  padding-left: 120px;
  padding-right: 100px;
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.iconCardCarouselWrapper .col-4 {
  border: 1px solid #d1dbfb;
  border-radius: 7px;
  padding: 30px 10px;
  text-align: center;
  width: 150px;
  box-shadow: 0px 0px 10px 5px #d1dbfb;
}

.col-4 img {
  padding-top: 10px;
  padding-bottom: 15px;
  width: 50%;
  height: 60%;
}

.carousel-indicators {
  padding-left: 120px;
  padding-right: 110px;
}

.carouselCardWrapper2 {
  background-color: red;
  width: 150px;
}

@media (min-width: 1537px) {
  .footerSectionMobile {
    display: none;
  }
}
/* 2xl */
@media (max-width: 1536px) {
  .footerSectionMobile {
    display: none;
  }

  .headerLogo {
    display: none;
  }

  .hereToHelpWrapper {
    visibility: visible;
  }

  .iconCardsWrapper {
    visibility: visible;
  }

  .carousel {
    visibility: hidden;
    display: none;
  }
  .pickRow {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .pickCol {
    width: 400px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .iconCardsWrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    gap: 7px;
    justify-content: space-around;
  }

  .headerLogo {
    display: none;
  }

  .heroTextWrapper {
    padding-left: 140px;
  }

  .heroTextWrapper h1 {
    width: 400px;
  }

  .col-2 h4 {
    font-size: 15px;
  }

  .footerWrapper {
    width: 1000px;
  }

  .footerSectionMobile {
    display: none;
  }

  .footerContentWrapper {
    padding: 30px;
    padding-bottom: 10px;
  }

  .hereToHelpWrapper {
    visibility: visible;
  }

  .iconCardsWrapper {
    visibility: visible;
  }

  .pickRow {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .pickCol {
    width: 340px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .headerWrapper {
    font-size: 0.9rem;
  }

  .headerLogo {
    display: none;
  }

  .heroTextWrapper {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heroTextWrapper h1 {
    width: 400px;
  }

  .connectWrapper {
    font-size: 15px;
    width: 200px;
  }

  #hero2 {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  #hero2Image {
    height: 100%;
    width: 100%;
  }

  .hero2Image {
    width: 70%;
    align-items: left;
    padding-left: 0px;
    margin-right: 150px;
    padding-bottom: 20px;
  }

  .hero2Text {
    width: 50%;
    text-align: left;
    align-content: right;
    margin-left: 200px;
    padding-right: 0px;
  }

  .committedToBold {
    text-align: left;
    font-size: 35px;
  }

  .committedLogo {
    width: 390px;
  }

  .pickInsuranceWrapper h2 {
    font-size: 35px;
    line-height: 1;
  }

  .pickRow {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .pickCol {
    width: 350px;
  }

  .committedToCol h4 {
    font-size: 20px;
  }

  .hereToHelpWrapper {
    width: 700px;
    margin: auto;
  }

  .hereToHelpCardsRowWrapper {
    display: flex;
    justify-content: space-between;
    height: 500px;
  }

  .hereToHelpImg {
    height: 200px;
    width: 330px;
    object-fit: cover;
    padding-bottom: 30px;
  }

  .hereToHelpCardWrapper {
    width: 330px;
    margin-bottom: 50px;
    height: 450px;
  }

  .hereToHelpCardTitleWrapper {
    font-weight: bolder;
    font-weight: 700;
  }

  .hereToHelpCardTextWrapper {
    height: 190px;
    text-align: left;
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
  }

  .hereToHelpCardTextWrapper,
  .hereToHelpLinkWrapper {
    padding-left: 20px;
  }

  .footerWrapper,
  .footerBlueBox {
    display: none;
  }

  .footerMobileBlueBox {
    width: 100%;
    height: 150px;
    background-color: #6475ed;
  }

  .wrapper {
    width: 700px;
    height: 350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #dfe5fb;
  }

  .footerMobileLeftText {
    padding-bottom: 0px;
  }

  .child {
    width: 250px;
    height: 350px;
  }

  .footerMobileLogoTextWrapper {
    display: block;
    text-align: center;
  }

  .footerMobileLeftWrapper {
    margin-top: 40px;
    position: relative;
    top: 50px;
  }

  .footerMobileRightWrapper {
    margin-top: 30px;
    float: right;
    position: relative;
    bottom: 70px;
    padding-bottom: 0px;
  }

  .hereToHelpWrapper {
    visibility: visible;
  }
  .iconCardsWrapper {
    visibility: visible;
  }
}

/* md */
@media (max-width: 768px) {
  header {
    display: none;
  }

  .headerWrapper {
    background-color: #6475ed;
    color: white;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .headerLogo {
    display: block;
    height: 90px;
    width: 100px;
    padding-left: 10px;
    position: relative;
    top: 20px;
  }

  .navbar {
    display: inline;
    visibility: visible;
  }

  .navbar button {
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }

  .navbar button:hover {
    background-color: #8694ff;
  }

  .connectWrapper {
    font-size: 15px;
    width: 200px;
  }

  .contactWrapper {
    font-size: 10px;
  }

  .heroTextWrapper h1 {
    width: 350px;
    position: relative;
  }

  .pickInsuranceWrapper h2 {
    font-size: 30px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
  }

  .pickRow {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .pickCol {
    width: 300px;
  }

  .hereToHelpWrapper {
    width: 600px;
    margin: auto;
  }

  .hereToHelpCardsRowWrapper {
    display: flex;
    justify-content: space-between;
    height: 500px;
  }

  .hereToHelpImg {
    height: 180px;
    width: 280px;
    object-fit: cover;
    padding-bottom: 30px;
  }

  .hereToHelpCardWrapper {
    width: 280px;
    margin-bottom: 50px;
    height: 400px;
  }

  .hereToHelpCardTitleWrapper {
    font-weight: bolder;
    font-weight: 700;
  }

  .hereToHelpCardTextWrapper {
    height: 220px;
    text-align: left;
    padding-left: 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .hereToHelpCardTextWrapper,
  .hereToHelpLinkWrapper {
    padding-left: 20px;
  }

  .footerMobileBlueBox {
    width: 100%;
    height: 150px;
    background-color: #6475ed;
  }

  .wrapper {
    width: 600px;
    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #dfe5fb;
  }

  .footerMobileLeftText {
    padding-bottom: 0px;
  }

  .child {
    width: 230px;
  }

  .socialMediaLogos {
    font-size: 20px;
  }

  .hereToHelpLinkLiWrapper a {
    color: #0049dc;
  }

  .card-group {
    width: 700px;
  }

  .card-group .card {
    padding-left: 20px;
    border: none;
    padding-bottom: 50px;
  }

  .carousel-Button {
    width: 2px;
    border-radius: 50%;
  }

  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #0049dc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .carousel-indicators2 {
    background-color: #0049dc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
  }

  .hereToHelpWrapper {
    visibility: hidden;
    display: none;
  }

  .carouselBold {
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .iconCardsWrapper {
    visibility: hidden;
    display: none;
  }
  .carousel {
    display: block;
    visibility: visible;
  }

  .carousel-indicators [data-bs-target] {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
  }

  .carouselItem2 {
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

/* sm */
@media (max-width: 640px) {
  header {
    display: none;
  }

  .headerWrapper {
    font-size: 0.6rem;
  }

  .headerLogo {
    display: block;
    height: 60px;
    width: 70px;
    padding-left: 5px;
    position: relative;
    top: 20px;
  }

  .connectWrapper {
    font-size: 12px;
    width: 200px;
  }

  .heroTextWrapper {
    width: 60%;
    text-align: left;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 30px;
  }

  .heroTextWrapper h1,
  p {
    padding-bottom: 20px;
  }

  .heroImageWrapper {
    width: 40%;
  }

  #heroImage {
    object-fit: cover;
  }

  .committedToRow {
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
  }

  .hero2Image {
    width: 90%;
    height: 90%;
    padding-left: 0px;
    padding-right: 100px;
  }

  .hero2Text {
    padding-left: 0px;
    padding-right: 50px;
  }

  .pickInsuranceWrapper h2 {
    font-size: 30px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  .pickRow {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }

  .pickCol {
    width: 260px;
  }

  .hereToHelpWrapper {
    width: 520px;
  }

  .hereToHelpCardsRowWrapper {
    display: block;
    height: 1000px;
  }

  .hereToHelpImg {
    height: 200px;
    width: 330px;
    object-fit: cover;
    padding-bottom: 30px;
  }

  .hereToHelpCardWrapper {
    width: 330px;
    margin-bottom: 50px;
    height: 450px;
  }

  .hereToHelpCardTitleWrapper {
    font-weight: bolder;
    font-weight: 700;
  }

  .hereToHelpCardTextWrapper {
    height: 190px;
    text-align: left;
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
  }

  .hereToHelpCardTextWrapper,
  .hereToHelpLinkWrapper {
    padding-left: 20px;
  }

  .wrapper {
    width: 500px;
    height: 250px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #dfe5fb;
  }

  .footerMobileLeftText {
    padding-bottom: 0px;
  }

  .child {
    width: 200px;
  }
  .footerLogo {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    margin-bottom: 5px;
  }

  .hereToHelpWrapper {
    visibility: hidden;
    display: none;
  }
  .iconCardsWrapper {
    visibility: hidden;
    display: none;
  }
  .carousel {
    visibility: visible;
  }

  .card-group {
    width: 600px;
  }

  .card-group img {
    width: 250px;
    height: 200px;
  }

  .hereToHelpCardTextWrapper {
    width: 250px;
    height: 250px;
  }

  .card-group .card {
    padding-left: 0px;
    border: none;
    padding-bottom: 50px;
  }
}

/* xs */
@media (max-width: 475px) {
  header {
    display: none;
  }

  .headerWrapper {
    font-size: 0.5rem;
    display: flex;
  }

  .contactWrapper {
    display: flex;
    justify-content: left;
    padding-left: 5px;
    padding-right: 10px;
  }

  .contactItemWrapper {
    width: fit-content;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 8px;
    padding-left: 0px;
  }

  .connectWrapper {
    width: 45px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .headerLogo {
    width: 50px;
    height: 40px;
  }

  .heroTextWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .heroTextWrapper h1 {
    width: 100px;
    position: relative;
  }

  .hero2Image {
    width: 90%;
    height: 90%;
    padding-left: 0px;
    padding-right: 100px;
    margin-right: 0px;
  }

  .hero2Text {
    width: 70%;
    padding-left: 40px;
    padding-right: 0px;
    margin-left: 0px;
  }

  .committedToBold {
    font-size: 30px;
  }

  .wrapper {
    width: 350px;
    height: 200px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #dfe5fb;
  }

  .footerMobileLeftText {
    padding-bottom: 0px;
  }

  .child {
    width: 150px;
  }
  .footerLogo {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    margin-bottom: 5px;
  }

  .footerLinksWrapper,
  .footerSectionMobile {
    font-size: 12px;
    line-height: 1;
  }

  .footerMobileLogoTextWrapper {
    width: 120px;
    padding-right: 10px;
    line-height: 1.2;
  }

  .footerSectionMobile br {
    display: none;
  }

  .footerSectionMobile h5 {
    font-size: 15px;
  }

  .footerGetInTouchText {
    line-height: 1.2;
  }

  .socialMediaLogos {
    font-size: 15px;
  }

  .hereToHelpWrapper {
    display: none;
  }

  .carousel {
    display: block;
  }

  .carousel-dark .card {
    width: 230px;
    padding-bottom: 10px;
    height: 450px;
    margin-bottom: 50px;
  }

  .card-group {
    width: 600px;
    display: flex;
    gap: 10px;
  }

  .card-group img {
    width: 230px;
    height: 150px;
  }

  .hereToHelpCardTextWrapper {
    width: 230px;
    height: 250px;
    padding-left: 7px;
  }

  .hereToHelpLinkWrapper {
    padding-left: 7px;
  }

  .card-group .card {
    padding-left: 0px;
    border: none;
    padding-bottom: 0px;
  }
}
